{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create New Listings</h2>

<form action="{% url 'create' %}" method="POST" >
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Enter Title">
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" name="description" class="form-control" id="description" placeholder="Enter Description">
      </div>

      <div class="mb-3">
        <label for="imageurl" class="form-label">Image URL</label>
        <input type="text" name="imageurl" class="form-control" id="imageurl" placeholder="Image URL">
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" name="price" class="form-control" id="price" placeholder="Price">
      </div>

      {% comment %} <div class="dropdown"> 
        <span>Choose a Category: </span>
        <button class="btn btn-outline-dark dropdown-toggle" type="list" data-bs-toggle="dropdown">
            {{ cat }}
        </button>
        <ul class="dropdown-menu">
            {% for cat in categories %}
          <li><a class="dropdown-item">{{ cat }} </a></li>

            {% endfor %}

        </ul>
      </div> {% endcomment %}

      {% comment %} <div class="dropdown"> 
        <span>Choose a Category: </span>
        {% for cat in categories %}
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">{{ cat }} </a></li>
        </ul>
        {% endfor %}
        <button class="btn btn-outline-dark dropdown-toggle" type="list" data-bs-toggle="dropdown">
            {{ cat }}
        </button>
      </div> {% endcomment %}

    <div class="mb-3">
        <span>Choose a Category: </span>
      <select class="form-select" name="category" id="category">
        <option selected class="text-white-50 bg-dark">Categories </option>
        {% for cat in categories %}
        <option value="{{ cat }}"> {{ cat }} </option>
        {% endfor %}
      </select>
    </div>

      <button type="submit" class="btn btn-success">Create New Listing</button>

</form>


{% endblock %}