{% extends "auctions/layout.html" %}

{% block body %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

<div class="container">
    {% if message %}
        {% if update %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                {{ message }}
                </div>
            </div>
        
        {% else %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                {{ message }}
                </div>
            </div>

        {% endif %}
    {% endif %}

</div>


{% if not listing.isActive and user == listing.price.user %}
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
        Congratulations ! You have won the Auction !
        </div>
    </div>

{% endif %}

<div class="container">
<div class="row">
    {% if user.is_authenticated and listing.isActive %}
        {% if isOwner %}
        <form action="{% url 'closeAuction' id=listing.id %}" method="POST" class="m-3 col-auto">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Close Auction</button>
        </form>

        {% endif %}
        {% if isListingInWatchlist %}
                <form action="{% url 'removeWatchlist' id=listing.id %}" method="POST" class="m-3 col-auto">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove from Watchlist <i class="bi bi-list-stars"></i></button>
                </form>
        {% else %}
                <form action="{% url 'addWatchlist' id=listing.id %}" method="POST" class="m-3 col-auto">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add to Watchlist <i class="bi bi-list-stars"></i></button>
                </form>
        {%endif%}
    {%endif%}
</div></div>


<h2>Pokemon: {{ listing.title }} </h2>
<img src=" {{ listing.imageUrl}} " alt="{{listing.title}}" height="300px">
<p>{{listing.description}}</p>
<p>Owner: {{listing.owner}} </p>
<h6>Initial Price: ${{listing.price.bid}} </h6>

{% if user.is_authenticated %}

    <form class="row my-4" action="{% url 'addBid' id=listing.id %}" method="POST">
        {% csrf_token %}
        <div class="col-auto">
            <div class=" input-group">
                <span class="input-group-text"><i class="bi bi-coin"></i></span>
                <input type="number" min="0" class="form-control" name="newBid" placeholder="New Bid" value="0"></input>
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-coin"></i> BID</button>
        </div>
    </form>

{% endif %}


    <h2>Comments</h2>
    {% if user.is_authenticated%}
        <form class="row g-3" action="{% url 'addComment' id=listing.id %}" method="POST">
            {% csrf_token %}
            {% comment %} <div class="col-2">
                <label for="addComment" class="form-label">Add Comment</label>
              </div> {% endcomment %}
              <div class="col-6">
              <textarea class="form-control" name="addComment" rows="3" placeholder="Comments"></textarea>
            </div>
              <div class="col-3">
              <button type="submit" class="btn btn-success mt-3">Comment <i class="bi bi-chat-text"></i></button>
            </div>
        </form>
    {% endif %}
    </br>
    <ul class="list-group">
    {% for comment in allComments %}
    <li class="list-group-item">
        {{comment.message}}
    </br>
    <p>Commented by:  <strong style="font-size: 22px;">{{ comment.author}}</strong> </p>
    </li>
    {% endfor %}
    </ul>




{% endblock %}