{% extends "auctions/layout.html" %}
{% load humanize %}
{% load l10n %}


{% block title %} 
Categories
{% endblock %}


{% block body %}

<h2 class="text-center title my-4 p-3 bg-danger bg-opacity-10 border border-danger rounded">Categories</h2>

<div class="container pb-4">

        <div class="pt-4">
            <form action="{% url 'all_categories' %}" method="POST">
                {% csrf_token %}
                    <ul class="list-group list-group-flushed text-center offset-4">
                        {% for cat in categories %}
                        <button class=" col-6 btn list-group-item list-group-item-action p-1 m-1 text-dark bg-danger fs-6 bg-opacity-10" name="category" id="category" value="{{ cat }}" type="submit">{{ cat }}</button>
                        {% endfor %}
                    </ul>
            </form>
        </div>

</div>

{% endblock %}