{% extends "auctions/layout.html" %}

{% block title %} 
New Listing
{% endblock %}

{% block body %}
<h2 class="text-center title my-4 p-3 bg-primary bg-opacity-10 border border-primary rounded">New Listing</h2>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6 pt-2">
            <form action="{% url 'create' %}" method="POST">
                {% csrf_token %}

                
                <div class="form-group">
                  <label for="title">Listing Title:</label>
                  <input type="text" name="title" class="form-control" id="title" placeholder="Title...">
                </div>
                
                <div class="form-group">
                  <label for="description">Description:</label>
                  <input type="text" name="description" class="form-control" id="description" placeholder="Description...">
                </div>
                <div class="form-group">
                  <label for="price">Price:</label>
                  <div class=" input-group">
                    <span class="input-group-text"><i class="bi bi-coin"></i></span>
                    <input id="price" type="number" min="0" class="form-control" name="price" value="0"></input>
                </div>
                  <div class="form-group mt-3">
                    <label for="Image">Image URL: </label>
                    <input type="text" name="image" class="form-control" id="image" placeholder="Image url...">
                  </div>

                  <div class="form-group">
                    <label for="category">Category:</label>
                    <select class="form-select" name="category" id="category">
                      <option selected class="text-white-50 bg-dark">Choose Categories </option>
                      {% for cat in categories %}
                      <option value="{{ cat }}"> {{ cat }} </option>
                      {% endfor %}
                    </select>
                  </div>
          <div class="form-group my-4">
            <button type="submit" class="btn btn-primary btn-customized btn-block">Create New Listing</button>
        </div>
        </div>
    </div>

<hr>

{% endblock %} 