{% extends "auctions/layout.html" %}
{% load humanize %}
{% load l10n %}


{% block title %} 
Active Listing
{% endblock %}

{% block body %}
    <h2 class="text-center title my-4 p-3 bg-info bg-opacity-10 border border-info rounded">Active Listings</h2>

    <div class="row  justify-content-center">
  {% for listings in listings %}
      <div class="card text-center m-4 shadow-sm col-lg-2 col-md-4 col-sm-6">
        <h4 class="card-header">
          {{ listings.title }}
        </h4>
        <div class="card-body">
          <img class="img-fluid" src="{% if listings.imageURL %}{{ listings.imageURL }}{% else %} https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930  {% endif %}" alt="Photo of {{ listing.title }}">  
          <p class="card-text text-wrap my-4" style="font-size: 12px;">{{ listings.description }}</p>
          <p><strong>${{ listings.current_price|intcomma }}</strong></p>
        </div>
        <div>
          <a href="{% url 'listing' id=listings.id %}" class="btn btn-primary my-3">Product Details</a>
        </div>
        <div class="card-footer">
        <span class="fw-bolder  "> {{ listings.num_bids }} bid(s)</span>
        </div>
      </div>
  {% empty %}
    <h4>No Listings Available !</h4>
  {% endfor %}
    </div>
{% endblock %}