{% extends "auctions/layout.html" %}
{% load humanize %}
{% load l10n %}

{% block body %}

{% if listing.active == False %}
    <div class="alert alert-success text-center" role="alert">
        The auction has ended.
    </div>
{% endif %}

<h2 class="text-center title my-4 p-3 bg-warning bg-opacity-10 border border-warning rounded"> Auction created by: {{listing.owner}} </h2>
<div class="text-center" style="margin-top: 20px;">
    {% if user.is_authenticated and owner and listing.active %}
    <form action="{% url 'close_auction' id=listing.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" value="close_auction" name="close_auction" class="btn btn-danger btn-sm ml-1"> Close Auction</button>
    </form>
    {% endif %} 
</div>


<div class="container">
<div class="row  justify-content-center">
    <div class="col-4 mt-5">
        <img class="img-fluid " src="{% if listing.imageURL %}{{ listing.imageURL }}{% else %} https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930  {% endif %}" alt="Photo of {{ listing.title }}">  
        
    </div>
    <div class="card text-center m-4 shadow-sm col-6">
        <h4 class="card-header">
             {{ listing.title }}
        </h4>
      <div class="card-body">
        <p class="card-text text-wrap my-4">{{ listing.description }}</p>
        <div>
            {% if listing_in_watchlist %}
         
                <form action="{% url 'remove_watchlist' id=listing.id %}" method="POST" class="" >
                {% csrf_token %}
                    <button type="submit" class="btn btn-danger"> Remove from Watchlist</button>
                </form> 
            {% else %}
            
                <form action="{% url 'add_watchlist' id=listing.id %}" method="POST" class="">
                {% csrf_token %}
                    <button type="submit" class="btn btn-success"> Add to Watchlist </button>
            {% endif %}
                </form>
          </div>
      

      <div class="text-center">
        <h5 class="my-3">
            <div class="messages">
            {% if messages %}
            {% for message in messages %}
            <ul class="alert {{ message.tags }}" role="alert"> {{ message }}</li>
            {% endfor %}
            {% endif %}
        
            {% if listing.bid_winner == user and listing.active == False %}
            <ul class="alert alert-success text-center" role="alert"><strong>Congratulations!</strong> You won the auction!</li>
            {% endif %}
        </h5> 
         
            <h5>{% if listing.active %}Current Price:{% else %}Winning bid:{% endif %} <strong>${{ listing.current_price|intcomma }}</strong></h5>
            <p><small style="font-size:12px;">Last bid: </small>
            <small style="font-size:12px;">{{ listing.bid_time|naturaltime }} </small>
            </p>
   
        
       
        {% if user.is_authenticated and listing.active %}
        <div class="pt-2">
            <div class="row pt-2">
            <div class="col-md-6 col-sm-10 m-auto">
                <form action="{% url 'new_bid' id=listing.id %}" method="POST">
        {% csrf_token %}
      
        {% if not owner %}
        {% for field in form %}
          
            <div class="input-group mb-3 col-10 offset-1">
                <span class="input-group-text">$</span>
                
        {{ field }}
        {% endfor %}
            </div>
            </div>
            </div>
            </div>
        <div class="row">    
        <div class="col text-center my-1">
            <input class="btn btn-primary btn-sm ml-2" type="submit" value="Place bid">
                </form>
        {% endif %}
        </div>
        </div>
      
       
        {% elif user.is_authenticated == False and listing.active %}
        <p class="text-primary pt-1">
            <small><strong><a href="{% url 'login' %}" class="text-primary">Sign in</a></strong> to bid.</small>
        </p>
        </div>
        {% endif %}


        <hr>


    {% for comment in all_comments %}
        <div class="row border bg-light py-2 mx-0 mx-md-3 mb-3">
            <div class="col-6"><strong>{{ comment.author }}</strong> commented:</div>
            <div class="col-6 text-right text-muted"><small>{{ comment.time|naturaltime }} </small></div>
      
            <div class="col-xl-12 pt-1" style="margin-bottom: 15px; margin-top: 10px;">
        {{ comment.message }}
            </div>
        </div>
        {% empty %}
        <div style="margin-bottom: 25px;">
            <br>
            <small>No comments for listing.</small>
        </div>
        {% endfor %}

        
        <div class="justify-content-center align-items-center">
            <div class="col col-lg-14 mx-3 mx-sm-0">
                <h6>Comment as <strong>{{ user.username }}</strong>:</h6>
            {% if user.is_authenticated %}
                <form action="{% url 'add_comment' id=listing.id %}" method="POST">
            {% csrf_token %}
                <textarea class="form-group col-md-12" rows="3" type="text" name="new_comment" maxlength="2000" placeholder="What are your thoughts?"></textarea>
                <div class="form-group text-right mb-2"></div>
                <input value="Add comment" class="btn btn-primary btn-sm" type="submit">
                </form>
            </div>
            {% else %}
            <p class="text-primary py-3"><small><strong><a href="{% url 'login' %}" class="text-primary">Sign in</a></strong> to comment.</small></p>
            {% endif %}
        </div>
    </div>
</div>  
        <hr>

      <div class="card-footer py-3">
       <span class="fw-bolder  "> {{ listing.num_bids }} bid(s)</span>
      </div>

  </div>



</div>
</div>


    {% endblock %}


    